
<div class="page-heading">

    <h1>Register a new Customer</h1>

</div>
<a href="/contact/list">HOME</a>

<form action="/contact/create" method="POST" enctype="multipart/form-data">


    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Name</label>

            <input type="text" class="form-control" id="producer" name="name">

        </div>

    </div>

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Phone Number</label>

            <input type="text" class="form-control" id="avatar" name="phoneNumber">

        </div>

    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary" >Create</button></div>

</form>